<div class="iframe-container">
  <h1>Iframe Example</h1>
  <h4>LCU-Guided-Tour also works with Iframes!</h4>

  <mat-list class="iframe-list">
    <mat-list-item id="iframeItem1">
      <mat-icon>keyboard_tab</mat-icon>
      Just set the <pre><code>IframeSelector</code></pre> property on the desired step
    </mat-list-item>
    <mat-list-item id="iframeItem2">
      <mat-icon>keyboard_tab</mat-icon>
      The use of the <pre><code>Selector</code></pre> property is still the same
    </mat-list-item>
    <mat-list-item id="iframeItem3">
      <mat-icon>keyboard_tab</mat-icon>
      <pre><code>Selector</code></pre> will be used to find the given element inside of the Iframe
    </mat-list-item>
    <mat-list-item id="iframeItem4">
      <mat-icon>keyboard_tab</mat-icon>
      Make sure the Iframe's source is on the same domain as your Application, otherwise it will not work
    </mat-list-item>
  </mat-list>
</div>
