<div fxLayout="column" class="home-container">
  <h1 id="guidedTourHeader">Welcome to the LCU-Guided-Tour</h1>
  <div fxLayout="column">
    <div fxLayout="row">
      <p id="p1">
        LCU-Guided-Tour is an Angular Library built to improve the user experience in an Application by
        providing a 'Guided Tour'. This tour provides a user with a visual way of highlighting important
        areas of the UI, in order to further explain how things work.
      </p>
    </div>

    <div fxLayout="row">
      <p id="p2">
        Click on Thinky below to view our demo. Or click here:
        <button mat-stroked-button id="startTourBtn" color="primary" (click)="OnStartTour()">Start Tour</button>
      </p>
    </div>

    <!-- <div fxLayout="row">
      <p id="p3">
        To start using, read through our <a routerLink="/documentation">Documentation</a> to see how you can start using this Low-Code Unit™!
      </p>
    </div> -->

    <mat-tab-group [selectedIndex]="SelectedTabIndex">

      <mat-tab label="Bot Position">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div id="formBox" fxLayout="column" fxFlex="0 0 18%">
            <div class="section">
              <h4>Bot Position:</h4>
              <mat-radio-group fxLayout="column" aria-label="Select Bot Position" [(ngModel)]="CurrentPosition" (change)="OnPositionChanged()">
                <mat-radio-button *ngFor="let pos of BotPositions" [value]="pos">{{ pos }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="section">
              <h4>Bounds Container:</h4>
              <mat-radio-group fxLayout="column" aria-label="Select Bounds Container" [(ngModel)]="CurrentContainer" (change)="OnBoundsContainerChanged()">
                <mat-radio-button *ngFor="let container of BoundsContainers" [value]="container">{{ container }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="section">
              <h4>Bot Padding:</h4>
              <mat-form-field class="example-form-field">
                <mat-label>Bot Padding</mat-label>
                <input matInput type="number" [(ngModel)]="BotPadding" (change)="OnBotPaddingChanged()">
              </mat-form-field>
            </div>
          </div>
          <div id="boundingBox" fxLayout="column" fxFlex="0 0 80%">
            You can bound the Bot to any container!
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Bot Logo">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div id="boxLogoForm" fxLayout="column" fxFlex="0 0 18%">
            <div class="section">
              <h4>Bot Logo:</h4>
              <!-- <mat-radio-group fxLayout="column" aria-label="Select Bot Logo" [(ngModel)]="CurrentPosition" (change)="OnPositionChanged()">
                <mat-radio-button *ngFor="let pos of BotPositions" [value]="pos">{{ pos }}</mat-radio-button>
              </mat-radio-group> -->
            </div>
            <div class="section">
              <h4>Bot Scale:</h4>
              <mat-form-field class="example-form-field">
                <mat-label>Bot Scale</mat-label>
                <input matInput type="number" min=".1" max="1" step=".1" [(ngModel)]="BotScale" (change)="OnBotScaleChanged()">
              </mat-form-field>.
            </div>
          </div>
          <div fxLayout="column" fxFlex="0 0 80%">

          </div>
        </div>
      </mat-tab>

      <mat-tab label="Misc">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <div id="boxMiscForm" fxLayout="column" fxFlex="0 0 18%">
            <div class="section">
              <h4>Current Tour:</h4>
              <mat-radio-group fxLayout="column" aria-label="Select Current Tour" [(ngModel)]="CurrentTourLookup" (change)="OnTourChanged()">
                <mat-radio-button *ngFor="let tour of Tours" [value]="tour">{{ tour }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div fxLayout="column" fxFlex="0 0 80%">

          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
