@mixin home-component($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $fg-color: mat-color(map-get($theme, foreground), text);

  .home-container {
    margin: 2% 5%;

    .section {
      background-color: rgba(mat-color($primary), 0.1);
      border: 2px solid $fg-color;
      padding: 15px;

      &:first-of-type {
        border-bottom: none;
      }

      &:last-of-type {
        border-top: none;
      }

      h4 {
        margin-top: 0;
      }
    }

    #boundingBox {
      align-items: center;
      background-color: rgba(mat-color($primary), 0.1);
      border: 2px solid $fg-color;
      height: 450px;
      justify-content: center;
    }
  }
}
